<script src="~/Scripts/UserScript.js"></script>
@model IEnumerable<UsersMVC.Models.IndexUserViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@{
    WebGrid grid = new WebGrid(null, rowsPerPage: 5);
    grid.Bind(@Model, autoSortAndPage: true, rowCount: 5);
}

@grid.GetHtml(tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
    columns: grid.Columns(
    grid.Column("Login", "Login"),
    grid.Column("FirstName", "First name"),
    grid.Column("LastName", "Last name"),
    grid.Column("Phone", "Phone number"),
    grid.Column("Email", "Email"),
    grid.Column("Address", "Home address"),
        grid.Column(header: "Action",
             format: @<a href="#" onClick="editUser(@item.ID)">Edit</a>)))

<button class="btn btn-primary" data-toggle="modal" data-target="#AddUserWindow" onclick="autoFocus('#AddUserWindow','#login')">
    Add User
</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#RemoveUserWindow" onclick="autoFocus('#RemoveUserWindow', '#login_remove')">
    Remove User
</button>
<div class="modal fade" id="AddUserWindow" tabindex="-1" role="dialog" aria-labelledby="addUserWindow" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="row text-center" id="Header">
                    Add User
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div id="Registration">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label for="login" class="col-sm-2 control-label">
                                        Login
                                    </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="login" onchange="uniquenessValidation(this.id)" placeholder="Login" required maxlength="25" minlength="5"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="validationmessage" id="login_validation_message">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-name" class="col-sm-2 control-label">
                                        First name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="first-name" placeholder="First name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last-name" class="col-sm-2 control-label">
                                        Last name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="last-name" placeholder="Last name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number" class="col-sm-2 control-label">
                                        Phone number
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control" id="phone-number" placeholder="Phone number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email
                                    </label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" id="email" onchange="uniquenessValidation(this.id)" placeholder="Email" required/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="validationmessage" id="email_validation_message">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="home-address" class="col-sm-2 control-label">
                                        Home address
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="home-address" placeholder="Home address" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passsword" class="col-sm-2 control-label">
                                        Password
                                    </label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="password" placeholder="Password" required maxlength="15" minlength="5"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="validationmessage" id="password_validation_message">
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" id="AddButton"class="btn btn-primary btn-sm" onclick="addUser()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditUserWindow" tabindex="-1" role="dialog" aria-labelledby="editUserWindow"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="row text-center" id="edit_header">
                    Edit
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div id="Editing">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label for="login" class="col-sm-2 control-label">
                                        Login
                                    </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="edit_login" onchange="uniquenessValidation(this.id)" placeholder="Login" required maxlength="25" minlength="5"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="validationmessage" id="edit_login_validation_message">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-name" class="col-sm-2 control-label">
                                        First name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edit_first_name" placeholder="First name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last-name" class="col-sm-2 control-label">
                                        Last name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edit_last_name" placeholder="Last name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number" class="col-sm-2 control-label">
                                        Phone number
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="tel" class="form-control" id="edit_phone_number" placeholder="Phone number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email
                                    </label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" id="edit_email" onchange="uniquenessValidation(this.id)"  placeholder="Email" required/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="validationmessage" id="edit_email_validation_message">
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="home-address" class="col-sm-2 control-label">
                                        Home address
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="edit_home_address" placeholder="Home address" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passsword" class="col-sm-2 control-label">
                                        Password
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="edit_password" placeholder="Password" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="updateUser()">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RemoveUserWindow" tabindex="-1" role="dialog" aria-labelledby="removeUserWindow"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="row text-center" id="Header">
                    Remove User
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding-right: 100px;">

                        <div id="Deleting">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label for="login" class="col-sm-2 control-label">
                                        Login
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="login_remove" placeholder="Login"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="passsword" class="col-sm-2 control-label">
                                        Password
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password_remove" placeholder="Password" />
                                    </div>
                                </div>     

                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="removeUser()">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
